@import url('../../assets/shadow-common.css');
:host {
  display: block;
  width: 100%;
}

.area__section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-x-small);
  width: 100%;
}

.area__section-label {
  font-size: var(--font-size-medium);
  font-weight: bolder;
  color: inherit;
  font-weight: var(--font-weight-bold);
}

.area__section-content {
  width: 100%;
}

::slotted([slot='articles']),
::slotted(.articles) {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
  width: 100%;
  border-radius: var(--radius-md);
}
