:host {
  display: block;
  width: 100%;
}

.area-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
}

.area-section_label {
  font-size: 0.9rem;
  font-weight: bolder;
  color: inherit;
}

.area-section_content {
  width: 100%;
}

::slotted([slot='articles']),
::slotted(.articles) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border-radius: calc(var(--radius) - 4px);
}
