<template id="ui-dialog-template">
  <div part="base" class="dialog" data-base>
    <div part="overlay" class="overlay" data-overlay></div>
    <div part="panel" class="panel" role="alertdialog" aria-modal="true" tabindex="-1" data-panel>
      <header part="header" class="header">
        <slot name="header"></slot>
        <ui-button
          class="close-btn"
          id="close-btn"
          variant="secondary"
          size="icon"
          style="--ui-button-icon-box: 27px; --ui-button-icon-size: 12px"
          part="close"
        >
          <ui-icon slot="prefix" name="x"></ui-icon>
        </ui-button>
      </header>
      <div part="content" class="content">
        <slot name="content"></slot>
      </div>
      <footer part="footer" class="footer">
        <slot name="cancel"></slot>
        <slot name="footer"></slot>
      </footer>
    </div>
  </div>
  <slot name="trigger"></slot>
</template>
