@import url('../../../../assets/shadow-common.css');

:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.download__path-container,
.name__format-container,
.max__downloads-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 640px) {
  .download__path-container {
    flex: 1;
    justify-content: space-between;
  }
}

.name__format-container ui-input {
  min-width: 9rem;
}

@media (max-width: 640px) {
  .name__format-container {
    flex: 1;
  }
}
