:host {
  display: block;
  width: 100%;
}

.area-article {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  gap: 0.5rem;
}

:host([data-first]) .area-article {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

:host([data-last]) .area-article {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.area-article__label {
  font-size: 0.85rem;
  font-weight: bold;
}
