@import url('../../assets/shadow-common.css');

:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.area__article {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium) var(--spacing-small);
  gap: var(--spacing-x-small);
  overflow: auto;
}

:host([first]) .area__article {
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
}

:host([last]) .area__article {
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}

.area__article-label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
}
