@import url('../../assets/shadow-common.css');

/* if js set anything to hidden, apply display:none  */
[hidden] {
  display: none !important;
}

:host {
  display: none;
  --info: #0ea5e9;
  --success: #16a34a;
  --danger: var(--destructive);
}
:host([data-visible='true']) {
  display: contents;
}

ui-dialog-content {
  --ui-dialog-content-height: auto;
  --ui-dialog-content-padding: var(--spacing-small);
}

@media (max-width: 640px) {
  ui-dialog-content {
    --ui-dialog-content-width: 95vw;
  }
}

.tasks__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

/* task item  */
.task__item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding: var(--spacing-small);
  border-radius: var(--radius-sm);
  background: oklch(from var(--popover) calc(l / 1.2) c h);
}

/* task item -> header  */
.task__item-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-x-small);
}

.task__item-title {
  font-weight: var(--font-weight-semibold);
  margin: 0;
  text-align: center;
}

/* task item -> icon  */
.task__item-icon {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task__item[data-state='pending'] .task__item-icon {
  border: 3px solid var(--border);
  border-radius: var(--radius-circle);
}
.task__item[data-state='success'] .task__item-icon {
  background: var(--success);
  border-radius: var(--radius-circle);
}
.task__item[data-state='error'] .task__item-icon {
  background: var(--danger);
  border-radius: var(--radius-circle);
}
.task__item[data-state='info'] .task__item-icon {
  background: var(--info);
  border-radius: var(--radius-circle);
}

/* task item -> content  */
.task__item-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.task__item-msg {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}
.task__item-error {
  color: var(--destructive);
  font-size: var(--font-size-x-small);
}

/* task item -> homebrew  */

.task__item-homebrew {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.task__item-homebrew-message {
  color: var(--muted-foreground);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-normal);
}

.task__item-homebrew-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-x-small);
}

/* task item -> progress  */
.task__item-progress {
  display: flex;
  align-items: center;
  gap: var(--spacing-x-small);
}

.task__item-progress-el {
  width: 100%;
  height: 0.5rem;
  border-radius: var(--radius-pill);
  background-color: var(--border);
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  flex: 1;
}

.task__item-progress-el::-webkit-progress-bar {
  background-color: var(--border);
}
.task__item-progress-el::-webkit-progress-value {
  background: linear-gradient(90deg, var(--info), var(--success));
  border-radius: var(--radius-pill);
}

.task__item-progress-text {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
}
