@import url('../../assets/shadow-common.css');

ui-dialog-content {
  --ui-dialog-content-width: 35rem;
}

ui-tabs {
  flex: 1;
  height: 100%;
}

@media (max-width: 640px) {
  .tab__trigger {
    --ui-button-flex-direction: column;
  }

  ui-dialog-content::part(base) {
    --ui-dialog-content-width: 95vw;
  }
}
