<template>
  <ui-dialog alert>
    <ui-dialog-portal>
      <ui-dialog-overlay></ui-dialog-overlay>
      <ui-dialog-content>
        <ui-dialog-header>
          <ui-dialog-title>
            <span slot="label" data-i18n="Preferences"></span>
          </ui-dialog-title>
          <ui-dialog-description
            class="sr-only"
            data-i18n="Configure application settings"
          ></ui-dialog-description>
        </ui-dialog-header>
        <ui-dialog-body>
          <ui-tab value="general">
            <ui-tab-list>
              <ui-tab-trigger value="general" as-child>
                <ui-button class="tab__trigger" data-el="general-tab-trigger" variant="ghost" block>
                  <ui-icon name="settings"></ui-icon>
                  <span data-i18n="General"></span>
                </ui-button>
              </ui-tab-trigger>
              <ui-tab-trigger value="downloads" as-child>
                <ui-button
                  class="tab__trigger"
                  data-el="downloads-tab-trigger"
                  variant="ghost"
                  block
                >
                  <ui-icon name="arrow-big-down-dash"></ui-icon>
                  <span data-i18n="Downloads"></span>
                </ui-button>
              </ui-tab-trigger>
              <ui-tab-trigger value="downloader" as-child>
                <ui-button
                  class="tab__trigger"
                  data-el="downloader-tab-trigger"
                  variant="ghost"
                  block
                >
                  <ui-icon name="arrow-big-down-dash"></ui-icon>
                  <span data-i18n="Downloader"></span>
                </ui-button>
              </ui-tab-trigger>
            </ui-tab-list>
            <ui-tab-content value="general">
              <general-tab-content></general-tab-content>
            </ui-tab-content>
            <ui-tab-content value="downloads">
              <downloads-tab-content></downloads-tab-content>
            </ui-tab-content>
            <ui-tab-content value="downloader">
              <downloader-tab-content></downloader-tab-content>
            </ui-tab-content>
          </ui-tab>
        </ui-dialog-body>
      </ui-dialog-content>
    </ui-dialog-portal>
  </ui-dialog>
</template>
