<template>
  <ui-dialog show-x-button alert>
    <div class="preferences-dialog__header" slot="header">
      <ui-button
        class="preferences-dialog__header__button"
        id="general-tab-trigger"
        variant="ghost"
        value="general"
        block
      >
        <ui-icon slot="prefix" name="settings"></ui-icon>
        <span slot="label" data-i18n="pref.tabs.general">General</span>
      </ui-button>
      <ui-button
        class="preferences-dialog__header__button"
        id="downloads-tab-trigger"
        variant="ghost"
        value="downloads"
        block
      >
        <ui-icon slot="prefix" name="arrow-big-down-dash"></ui-icon>
        <span slot="label" data-i18n="pref.tabs.downloads">Downloads</span>
      </ui-button>
      <ui-button
        class="preferences-dialog__header__button"
        id="downloader-tab-trigger"
        variant="ghost"
        value="downloader"
        block
      >
        <ui-icon slot="prefix" name="arrow-big-down-dash"></ui-icon>
        <span slot="label" data-i18n="pref.tabs.downloader">Downloader</span>
      </ui-button>
    </div>

    <!-- <div slot="content" class="preferences-dialog__content">
      <ui-tabs value="general">
        <general-tab-content slot="panel" value="general"></general-tab-content>
        <downloads-tab-content slot="panel" value="downloads"></downloads-tab-content>
        <downloader-tab-content slot="panel" value="downloader"></downloader-tab-content>
      </ui-tabs>
    </div> -->
  </ui-dialog>
</template>
