@import url('../../assets/reset.css');

:host header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--toolbar-height);
  padding: 0 var(--toolbar-padding);
  background: transparent;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.app-header__right {
  width: var(--toolbar-right-width);
  display: flex;
  justify-content: flex-end;
}

:host-context([use-native-toolbar='true']) .app-header__right {
  display: none;
}

.app-header__chrome-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Anything clickable must be no-drag */
new-dialog,
.app-header__sheet-button,
.app-header__dropdown-button,
.app-header__chrome-controls,
.app-header__chrome-controls * {
  -webkit-app-region: no-drag;
}

.app-header__left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: calc(var(--sidebar-width) - var(--toolbar-padding));
  overflow: hidden;
}

.app-header__left h1 {
  margin: 0;
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
}

.app-header__sheet-button {
  display: block;
}

@media (min-width: 767px) {
  .app-header__sheet-button {
    display: none;
  }
}

/* dropdown menu  */
.app-header__dropdown-menu-item::part(base) {
  display: flex;
  justify-content: flex-start;
  padding: 0 auto;
}
.app-header__dropdown-menu-item:hover {
  background-color: transparent;
}
