@import url('../../assets/shadow-common.css');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--toolbar-height);
  padding: 0 var(--toolbar-padding);
  background: transparent;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  box-sizing: border-box;
}

/* Anything clickable must be no-drag */
notification-popover,
notification-center,
.new__dialog-trigger,
.sheet__trigger,
.dropdown__trigger,
.chrome__controls,
.chrome__controls * {
  -webkit-app-region: no-drag;
}

/* header -> right side  */

.app__header-right {
  display: flex;
  justify-content: flex-end;
}

:host-context([use-native-toolbar='true']) .app__header-right {
  display: none;
}

.chrome__controls {
  display: flex;
  align-items: center;
  gap: var(--spacing-x-small);
}

.chrome__controls-button ui-icon {
  --ui-icon-size: 0.75rem;
}

/* header -> left side  */
.app__header-left {
  display: flex;
  align-items: center;
  gap: var(--spacing-x-small);
  width: calc(var(--sidebar-width) - var(--toolbar-padding));
  overflow: hidden;
}

.app__header-left h1 {
  margin: 0;
  font-size: var(--font-size-large);
  flex: 1;
  text-align: center;
}

@media (min-width: 767px) {
  ui-sheet {
    display: none;
  }
}
