<template>
  <header>
    <div class="app__header-left">
      <ui-button
        class="new__dialog-trigger"
        data-el="new-dialog-trigger"
        variant="ghost"
        size="icon"
      >
        <ui-icon name="plus" class="header-button-icon"></ui-icon>
        <span data-i18n="Add New Download" class="sr-only"></span>
      </ui-button>
      <h1 data-el="app-header-title"></h1>
      <notification-center></notification-center>

      <ui-dropdown>
        <ui-dropdown-trigger as-child>
          <ui-button class="dropdown__trigger" variant="ghost" size="icon">
            <ui-icon name="ellipsis-vertical" class="header-button-icon"></ui-icon>
            <span data-i18n="Toggle Preferences Menu" class="sr-only"></span>
          </ui-button>
        </ui-dropdown-trigger>
        <ui-dropdown-portal align="center" offset="10">
          <ui-dropdown-content>
            <ui-dropdown-item data-el="menu-item-pref-dialog" class="options__menu-item">
              <span data-i18n="Preferences"></span>
            </ui-dropdown-item>
            <ui-dropdown-item data-el="menu-item-about-dialog" class="options__menu-item">
              <span data-i18n="About"></span>
            </ui-dropdown-item>
          </ui-dropdown-content>
        </ui-dropdown-portal>
      </ui-dropdown>

      <preferences-dialog></preferences-dialog>
      <about-dialog></about-dialog>
      <ui-sheet side="right" style="--ui-sheet-width: 100vw">
        <ui-sheet-trigger as-child>
          <ui-button class="sheet__trigger" variant="ghost" size="icon">
            <ui-icon name="menu" class="header-button-icon"></ui-icon>
            <span data-i18n="Toggle Sidebar sheet" class="sr-only"></span>
          </ui-button>
        </ui-sheet-trigger>
        <ui-sheet-portal>
          <ui-sheet-overlay></ui-sheet-overlay>
          <ui-sheet-content>
            <ui-sheet-header>
              <ui-sheet-title data-i18n="Navigation Sidebar" class="sr-only"></ui-sheet-title>
              <ui-sheet-description
                data-i18n="You can navigate application pages"
                class="sr-only"
              ></ui-sheet-description>
            </ui-sheet-header>
            <ui-sheet-body>
              <app-sidebar-content></app-sidebar-content>
            </ui-sheet-body>
          </ui-sheet-content>
        </ui-sheet-portal>
      </ui-sheet>
    </div>
    <div class="app__header-right">
      <div class="chrome__controls" id="chrome-controls">
        <ui-button
          variant="secondary"
          size="icon"
          class="chrome__controls-button"
          data-el="minimize-btn"
          style="--ui-button-icon-box: 27px"
        >
          <ui-icon name="minus"></ui-icon>
          <span data-i18n="Minimize Application Window" class="sr-only"></span>
        </ui-button>
        <ui-button
          variant="secondary"
          size="icon"
          class="chrome__controls-button"
          data-el="maximize-btn"
          style="--ui-button-icon-box: 27px"
        >
          <ui-icon name="square"></ui-icon>
          <span data-i18n="Maximize Application Window" class="sr-only"></span>
        </ui-button>
        <ui-button
          variant="secondary"
          size="icon"
          class="chrome__controls-button"
          data-el="close-btn"
          style="--ui-button-icon-box: 27px"
        >
          <ui-icon name="x"></ui-icon>
          <span data-i18n="Close Application Window" class="sr-only"></span>
        </ui-button>
      </div>
    </div>
  </header>
</template>
