<template id="app-header-template">
  <header>
    <div class="app-header__left">
      <new-dialog></new-dialog>
      <h1 id="app-header-title"></h1>
      <ui-dropdown align="center">
        <ui-button
          class="app-header__dropdown-button"
          id="app-header-dropdown-button"
          slot="trigger"
          variant="ghost"
          size="icon"
          style="--ui-button-icon-size: 22px"
        >
          <ui-icon slot="prefix" name="ellipsis-vertical"></ui-icon>
        </ui-button>
      </ui-dropdown>
      <template id="app-header-dropdown-menu-tpl">
        <ui-button
          slot="menu-item"
          class="app-header__dropdown-menu-item"
          id="app-header-menu-preferences"
          variant="ghost"
          block
        >
          <span slot="label" data-i18n="appHeader.actionsMenu.preferences"></span>
        </ui-button>
        <ui-button slot="menu-item" class="app-header__dropdown-menu-item" variant="ghost" block>
          <span slot="label" data-i18n="appHeader.actionsMenu.about"></span>
        </ui-button>
      </template>
      <!-- TODO: will be back once we fix the bug in notification-popover -->
      <!-- <notification-popover></notification-popover> -->
      <preferences-dialog></preferences-dialog>
      <ui-sheet side="right" style="--ui-sheet-width: 100vw" show-x-button>
        <ui-button
          class="app-header__sheet-button"
          id="app-header-sheet-button"
          slot="trigger"
          variant="ghost"
          size="icon"
        >
          <ui-icon slot="prefix" name="menu"></ui-icon>
        </ui-button>
        <div slot="content" style="padding: 1rem">
          <app-sidebar-content></app-sidebar-content>
        </div>
      </ui-sheet>
    </div>
    <div class="app-header__right">
      <div class="app-header__chrome-controls" id="chrome-controls">
        <ui-button
          variant="secondary"
          size="icon"
          class="app-header__chrome-controls-button"
          id="chrome-controls-minimize"
          style="--ui-button-icon-box: 27px; --ui-button-icon-size: 12px"
        >
          <ui-icon slot="prefix" name="minus"></ui-icon>
        </ui-button>
        <ui-button
          variant="secondary"
          size="icon"
          class="app-header__chrome-controls-button"
          id="chrome-controls-maximize"
          style="--ui-button-icon-box: 27px; --ui-button-icon-size: 12px"
        >
          <ui-icon slot="prefix" name="square"></ui-icon>
        </ui-button>
        <ui-button
          variant="secondary"
          size="icon"
          class="app-header__chrome-controls-button"
          id="chrome-controls-close"
          style="--ui-button-icon-box: 27px; --ui-button-icon-size: 12px"
        >
          <ui-icon slot="prefix" name="x"></ui-icon>
        </ui-button>
      </div>
    </div>
  </header>
</template>
