<template>
  <ui-popover align="center">
    <ui-button
      slot="trigger"
      variant="ghost"
      size="icon"
      style="--ui-button-icon-size: 22px"
      data-el="popover-trigger-button"
      class="popover-trigger-btn"
    >
      <ui-icon slot="prefix" name="info"></ui-icon>
    </ui-button>
    <div slot="content" class="popover-content-wrapper" data-el="popover-content-container"></div>
  </ui-popover>

  <template data-el="approve-app-update-template">
    <div class="approve-app-update-container">
      <p class="approve-app-update-msg" data-el="approve-download-msg"></p>
      <div class="approve-app-update-actions-container">
        <ui-button variant="secondary" data-el="approve-download-btn" block>
          <span slot="label" data-i18n="generic.actions.approve"></span>
        </ui-button>
        <ui-button variant="secondary" data-el="cancel-download-btn" block>
          <span slot="label" data-i18n="generic.actions.cancel"></span>
        </ui-button>
      </div>
    </div>
  </template>
  <template data-el="approve-app-install-template">
    <div class="approve-app-install-container">
      <p class="approve-app-install-msg" data-el="approve-install-msg"></p>
      <div class="approve-app-install-actions-container">
        <ui-button variant="secondary" data-el="approve-install-btn" block>
          <span slot="label" data-i18n="generic.actions.approve"></span>
        </ui-button>
        <ui-button variant="secondary" data-el="cancel-install-btn" block>
          <span slot="label" data-i18n="generic.actions.cancel"></span>
        </ui-button>
      </div>
    </div>
  </template>
  <template data-el="app-update-progress-template">
    <div class="app-update-progress-container">
      <p class="app-update-progress-msg" data-el="progress-msg"></p>
      <p class="app-update-progress-value" data-el="progress-value"></p>
    </div>
  </template>
  <template data-el="app-update-error-template">
    <div class="app-update-error-container">
      <p class="app-update-error-msg" data-el="error-msg"></p>
      <div class="app-update-error-actions-container">
        <ui-button variant="secondary" data-el="dismiss-error-btn" block>
          <span slot="label" data-i18n="generic.actions.dismiss"></span>
        </ui-button>
      </div>
    </div>
  </template>
</template>
