:root {
  color-scheme: light dark;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --shadow-2x-small: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-x-small: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-small: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-medium: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-large: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-x-large: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2x-large: 0 1px 3px 0px oklch(0 0 0 / 0.25);

  /* custom  */
  --toolbar-height: 3rem;
  --toolbar-end-width: 14rem;
  --toolbar-padding: 0.6rem;
  --sidebar-width: 300px;

  /* Focus ring tokens (similar to Tailwind), unified into a single usable var) */
  --focus-ring-width: 3px;
  --focus-ring-color: var(--ring);
  --focus-ring-offset-width: 2px;
  --focus-ring-offset-color: var(--background);

  /* focus rings */
  --focus-ring:
    0 0 0 var(--focus-ring-offset-width) var(--focus-ring-offset-color),
    0 0 0 calc(var(--focus-ring-offset-width) + var(--focus-ring-width)) var(--focus-ring-color);
  --destructive-focus-ring:
    0 0 0 2px var(--background), 0 0 0 4px color-mix(in oklch, var(--destructive) 50%, transparent);

  /* border radius */
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-circle: 50%;
  --radius-pill: 9999px;

  /* font sizes  */
  --font-size-2x-small: 0.625rem; /* 10px */
  --font-size-x-small: 0.75rem; /* 12px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-x-large: 1.5rem; /* 24px */
  --font-size-2x-large: 2.25rem; /* 36px */
  --font-size-3x-large: 3rem; /* 48px */
  --font-size-4x-large: 4.5rem; /* 72px */

  /* font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  /* font family */
  --app-font-family:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  /* z-indexes */
  --z-index-sheet: 700;
  --z-index-dialog: 800;
  --z-index-dropdown: 900;
  --z-index-toast: 950;
  --z-index-tooltip: 1000;

  /* spacings */
  --spacing-3x-small: 0.125rem; /* 2px */
  --spacing-2x-small: 0.25rem; /* 4px */
  --spacing-x-small: 0.5rem; /* 8px */
  --spacing-small: 0.75rem; /* 12px */
  --spacing-medium: 1rem; /* 16px */
  --spacing-large: 1.25rem; /* 20px */
  --spacing-x-large: 1.75rem; /* 28px */
  --spacing-2x-large: 2.25rem; /* 36px */
  --spacing-3x-large: 3rem; /* 48px */
  --spacing-4x-large: 4.5rem; /* 72px */

  /* line heights */
  --line-height-denser: 1;
  --line-height-dense: 1.4;
  --line-height-normal: 1.8;
  --line-height-loose: 2.2;
  --line-height-looser: 2.6;
}

html.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --shadow-2x-small: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-x-small: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-small: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-medium: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-large: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-x-large: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2x-large: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

html[data-theme-name='caffeine'] {
  --background: oklch(0.18 0 0);
  --foreground: oklch(0.95 0 0);
  --card: oklch(0.21 0 0);
  --card-foreground: oklch(0.95 0 0);
  --popover: oklch(0.21 0 0);
  --popover-foreground: oklch(0.95 0 0);
  --primary: oklch(0.92 0.05 67.14);
  --primary-foreground: oklch(0.2 0.02 201.14);
  --secondary: oklch(0.32 0.02 67);
  --secondary-foreground: oklch(0.92 0.05 67.14);
  --muted: oklch(0.25 0 0);
  --muted-foreground: oklch(0.77 0 0);
  --accent: oklch(0.29 0 0);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.63 0.19 33.26);
  --border: oklch(0.24 0.01 88.77);
  --input: oklch(0.4 0 0);
  --ring: oklch(0.92 0.05 67.14);
  --chart-1: oklch(0.92 0.05 67.14);
  --chart-2: oklch(0.32 0.02 67);
  --chart-3: oklch(0.29 0 0);
  --chart-4: oklch(0.35 0.02 67.11);
  --chart-5: oklch(0.92 0.05 67.14);
  --sidebar: oklch(0.21 0.01 285.56);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(0.49 0.22 264.43);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.27 0.01 285.81);
  --sidebar-accent-foreground: oklch(0.97 0 0);
  --sidebar-border: oklch(0.27 0.01 285.81);
  --sidebar-ring: oklch(0.87 0.01 286.27);

  --shadow-2x-small: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-x-small: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-small: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-medium: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-large: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-x-large: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2x-large: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

html[data-theme-name='spotify'] {
  --background: oklch(0.15 0.02 269.18);
  --foreground: oklch(0.95 0.01 238.46);
  --card: oklch(0.2 0.02 266.02);
  --card-foreground: oklch(0.95 0.01 238.46);
  --popover: oklch(0.2 0.02 266.02);
  --popover-foreground: oklch(0.95 0.01 238.46);
  --primary: oklch(0.67 0.17 153.85);
  --primary-foreground: oklch(0.15 0.02 269.18);
  --secondary: oklch(0.3 0.03 271.05);
  --secondary-foreground: oklch(0.95 0.01 238.46);
  --muted: oklch(0.3 0.03 271.05);
  --muted-foreground: oklch(0.6 0.03 269.46);
  --accent: oklch(0.3 0.03 271.05);
  --accent-foreground: oklch(0.95 0.01 238.46);
  --destructive: oklch(0.64 0.25 19.69);
  --border: oklch(0.95 0.01 238.46 / 15%);
  --input: oklch(0.95 0.01 238.46 / 20%);
  --ring: oklch(0.67 0.17 153.85);
  --chart-1: oklch(0.67 0.17 153.85);
  --chart-2: oklch(0.6 0.1 269.83);
  --chart-3: oklch(0.72 0.12 201.79);
  --chart-4: oklch(0.8 0.1 100.65);
  --chart-5: oklch(0.6 0.15 300.14);
  --sidebar: oklch(0.2 0.02 266.02);
  --sidebar-foreground: oklch(0.95 0.01 238.46);
  --sidebar-primary: oklch(0.67 0.17 153.85);
  --sidebar-primary-foreground: oklch(0.15 0.02 269.18);
  --sidebar-accent: oklch(0.3 0.03 271.05);
  --sidebar-accent-foreground: oklch(0.95 0.01 238.46);
  --sidebar-border: oklch(0.95 0.01 238.46 / 15%);
  --sidebar-ring: oklch(0.67 0.17 153.85);

  --shadow-2x-small: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
  --shadow-x-small: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
  --shadow-small: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-medium: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-large: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-x-large: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2x-large: 0px 1px 2px 0px oklch(0 0 0 / 0.03);
}

html[data-theme-name='perplexity'] {
  --background: oklch(0.21 0.02 226.02);
  --foreground: oklch(0.7 0.04 225.59);
  --card: oklch(0.23 0.03 218.18);
  --card-foreground: oklch(0.7 0.04 225.59);
  --popover: oklch(0.23 0.03 218.18);
  --popover-foreground: oklch(0.85 0.13 194.97);
  --primary: oklch(0.72 0.12 210.36);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.27 0.01 285.81);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(0.18 0.02 227.33);
  --muted-foreground: oklch(0.51 0.03 226.25);
  --accent: oklch(0.24 0 0);
  --accent-foreground: oklch(0.97 0 0);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.36 0.02 213.25);
  --input: oklch(0.29 0 0);
  --ring: oklch(0.72 0.12 210.36);
  --chart-1: oklch(0.72 0.12 210.36);
  --chart-2: oklch(0.79 0.12 209.45);
  --chart-3: oklch(0.76 0.11 208.7);
  --chart-4: oklch(0.83 0.1 208.33);
  --chart-5: oklch(0.57 0.1 213.73);
  --sidebar: oklch(0.19 0 0);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(0.72 0.12 210.36);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.24 0 0);
  --sidebar-accent-foreground: oklch(0.97 0 0);
  --sidebar-border: oklch(0.29 0 0);
  --sidebar-ring: oklch(0.72 0.12 210.36);

  --shadow-2x-small: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-x-small: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-small: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-medium: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-large: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-x-large: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2x-large: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}
