body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Disable transitions for performance */
html[data-theme-transition='off'] * {
  transition: none !important;
}

body {
  display: flex;
  flex-direction: column;
}

/* app scrim  */
html[data-has-app-scrim='true'] .container {
  pointer-events: none;
  user-select: none;
  filter: grayscale(0.1) opacity(0.9);
}

app-scrim {
  display: none;
}

html[data-has-app-scrim='true'] app-scrim {
  display: block;
}

/* main container  */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline-start: var(--sidebar-width);
}

main > * {
  flex: 1;
  min-height: 0;
}

@media (max-width: 767px) {
  main {
    margin-inline-start: 0;
  }
}
