html[data-app-blocking='true'] .container {
  pointer-events: none;
  user-select: none;
  filter: grayscale(0.1) opacity(0.9);
}

app-scrim {
  display: none;
}

html[data-app-blocking='true'] app-scrim {
  display: block;
}

/* main content style  */
.container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}

.container app-sidebar {
  flex-shrink: 0;
}

main {
  flex: 1;
}
