@import url('./scrollbar.css');

/* shared style for page content  */
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.header-wrapper {
  height: var(--toolbar-height);
  margin-inline-end: var(--toolbar-right-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

:host-context([use-native-toolbar='true']) .header-wrapper {
  margin-inline-end: 0;
  display: none;
}

.header-wrapper h1 {
  font-size: 1rem;
}

.content-wrapper {
  max-width: 50rem;
  flex: 1;
  height: 100%;
  padding: 0.5rem;
  min-height: 0;
}

@media (max-width: 768px) {
  .header-wrapper {
    display: none;
  }
  .content-wrapper {
    margin-block-start: var(--toolbar-height);
  }
}
