:host {
  display: inline-block;
  width: var(--ui-icon-size, 1em);
  height: var(--ui-icon-size, 1em);
  box-sizing: content-box !important;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: none;
  stroke: currentColor;
}

/* Optional spinning behavior */
:host([spin]) svg {
  animation: ui-spin 700ms linear infinite;
}

@keyframes ui-spin {
  to {
    transform: rotate(360deg);
  }
}
