:host {
  display: inline-block;
  width: var(--ui-icon-size, 1em);
  height: var(--ui-icon-size, 1em);
  line-height: 1;
  color: currentColor;
}

.icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.icon svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: currentColor;
}

/* Optional spinning behavior */
:host([spin]) .icon svg {
  animation: ui-spin 700ms linear infinite;
}

@keyframes ui-spin {
  to {
    transform: rotate(360deg);
  }
}
