@import url('../../../assets/reset.css');

:host {
  display: inline-block;
}

svg {
  display: block;
  width: var(--ui-icon-size, 1em);
  height: var(--ui-icon-size, 1em);
  fill: none;
  stroke: var(--ui-icon-stroke-color, currentColor);
}

/* Optional spinning behavior */
:host([spin]) svg {
  animation: ui-spin 700ms linear infinite;
}

@keyframes ui-spin {
  to {
    transform: rotate(360deg);
  }
}
