@import url('../../../../assets/shadow-common.css');

:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

/* language selection  */
.with-tooltip {
  display: flex;
  align-items: center;
  gap: var(--spacing-large);
}
