.max-downloads-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

html[dir='rtl'] .max-downloads-controls {
  flex-direction: row-reverse;
}

.download-path-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name-format-playlists-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
