@import url('../../../../assets/reset.css');
@import url('../../../../assets/utils.css');

:host {
  width: 100%;
}

@media (max-width: 640px) {
  .media-info-tab_trigger {
    --ui-button-direction: column;
  }
}

.time-range_container,
.subtitles_container,
.download-path_container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 640px) {
  .download-path_container,
  .subtitles_container {
    flex: 1;
    justify-content: space-between;
  }
}

.time-range_container ui-input::part(base) {
  width: 5rem;
}

.tab-content__sections-container {
  align-items: center;
}

/* subtitles  */
.subtitles_container label {
  word-break: break-all;
  white-space: nowrap;
}

area-section::part(base) {
  gap: 1rem;
}

.tab-content__sections-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
