@import url('../../../../assets/shadow-common.css');

:host {
  width: 100%;
  height: auto;
  /* This screen will not stretch to fill the parent vertically */
  flex: 0 0 auto;
}

/* Tabs Triggers  */
.tab__trigger {
  --ui-button-flex-direction: column;
}

@media (min-width: 640px) {
  .tab__trigger {
    --ui-button-flex-direction: row;
  }
}

/* Tabs Content  */

.content__sections-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .shared__settings {
    padding: 0 1rem;
  }
}

area-section::part(base) {
  gap: 1rem;
}

/* Settings  */

.time__range-container,
.subtitles__container,
.download__path-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.download-path_container,
.subtitles_container {
  flex: 1;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .download-path_container,
  .subtitles_container {
    flex: 0 0 auto;
    justify-content: start;
  }
}

.time__range-container ui-input::part(base) {
  width: 5rem;
}

.subtitles_container label {
  word-break: break-all;
  white-space: nowrap;
}
