@import url('../../../assets/reset.css');

:host {
  display: block;
  width: 100%;
}

.root {
  display: flex;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: calc(var(--radius) - 4px);
  border: 1px solid transparent;
  font-size: 0.875rem;
}

:host([variant='default']) .root {
  background-color: transparent;
  border-color: color-mix(in srgb, var(--primary) 20%, transparent);
}

:host([variant='destructive']) .root {
  background-color: transparent;
  border-color: color-mix(in srgb, var(--destructive) 30%, transparent);
}

/* icon  */
.icon {
  --ui-icon-size: 1.5rem;
}

:host([variant='default']) .icon {
  color: var(--primary);
}

:host([variant='destructive']) .icon {
  color: var(--destructive);
}

/* content  */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.title {
  font-weight: 600;
}

.description {
  opacity: 0.9;
}

:host([variant='default']) .title {
  color: var(--primary);
}

:host([variant='destructive']) .title {
  color: var(--destructive);
}
