<template id="ui-alert-template">
  <div part="base" class="ui-alert" data-el="root">
    <ui-icon part="icon" class="ui-alert_icon" data-el="icon"></ui-icon>
    <div part="content" class="ui-alert_content">
      <div part="title" class="ui-alert_title">
        <slot name="title"></slot>
      </div>
      <div part="description" class="ui-alert_description">
        <slot name="description"></slot>
      </div>
    </div>
    <ui-button
      part="close"
      class="ui-alert_close"
      type="button"
      data-el="close-btn"
      aria-label="Close"
      variant="ghost"
      size="icon"
    >
      <ui-icon slot="prefix" name="x"></ui-icon>
    </ui-button>
  </div>
</template>
