<template>
  <div part="base" class="root" data-el="root">
    <ui-icon part="icon" class="icon" data-el="icon"></ui-icon>
    <div part="content" class="content">
      <h2 part="title" class="title" data-el="title">
        <slot name="title"></slot>
      </h2>
      <p part="description" class="description" data-el="description">
        <slot name="description"></slot>
      </p>
    </div>
    <ui-button
      part="close"
      class="close"
      type="button"
      data-el="close-btn"
      aria-label="Close"
      variant="ghost"
      size="icon"
    >
      <ui-icon slot="prefix" name="x"></ui-icon>
    </ui-button>
  </div>
</template>
