@import url('../../assets/shadow-common.css');

/* dialog  */

ui-dialog-content {
  --ui-dialog-content-width: 38rem;
  --ui-dialog-content-height: auto;
}

@media (max-width: 640px) {
  ui-dialog-content {
    --ui-dialog-content-width: 90vw;
  }
}

/* body  */
ui-alert::part(base) {
  margin-bottom: var(--spacing-medium);
}

.dialog__content-article {
  display: none;
  align-items: center;
}

ui-dialog[data-active-screen='media-url'] .media-url-screen-content,
ui-dialog[data-active-screen='media-info'] .media-info-screen-content,
ui-dialog[data-active-screen='media-loading'] .media-loading-screen-content {
  display: flex;
}

/* media url screen  */
.media-url-screen-content {
  flex-direction: column;
  gap: var(--spacing-small);
  align-items: start;
}

.media-url-screen-content .validate__button {
  align-self: center;
}

/* media loading screen  */
.media-loading-screen-content {
  flex: 1;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-medium);
}

/* loader */
.loader__text {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}
