@import url('../../assets/reset.css');

:host([hide-trigger]) .dialog__trigger {
  display: none;
}

/* dialog  */
:host ui-dialog::part(panel) {
  width: 38rem;
  min-height: 12rem;
  max-height: 90vh;
  height: auto;
}

/* header  */
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content */
.dialog__content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header__wrapper,
.dialog__content-article {
  display: none;
}

/* control content visibility  */
ui-dialog[data-active-screen='media-url'] .media-url-screen-content,
ui-dialog[data-active-screen='media-url'] .media-url-screen-header {
  display: flex;
}

ui-dialog[data-active-screen='media-info'] .media-info-screen-content,
ui-dialog[data-active-screen='media-info'] .media-info-screen-header {
  display: flex;
}

ui-dialog[data-active-screen='media-loading'] .media-loading-screen-content,
ui-dialog[data-active-screen='media-loading'] .media-loading-screen-header {
  display: flex;
}

/* media url screen  */
.media-url-screen-content {
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

.media-url-screen-content .validate__button {
  align-self: center;
}

/* media loading screen  */
.media-loading-screen-content {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* loader */
.loader__text {
  font-size: 0.875rem;
  color: var(--muted-foreground, #6b7280);
}
