@import url('../../assets/reset.css');

:host([hide-trigger]) .new-dialog__trigger-button {
  display: none;
}

/* dialog  */

:host ui-dialog::part(panel) {
  width: 32rem;
  min-height: 12rem;
  height: auto;
}

@media (max-width: 640px) {
  :host ui-dialog::part(panel) {
    width: 98vw;
    height: 90vh;
  }
}

/* header  */

.new-dialog__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-dialog__header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 400;
}

/* tabs buttons */

@media (max-width: 640px) {
  .new-dialog__header__button {
    --ui-button-direction: column;
  }
}

/* content */
.new-dialog__header__wrapper,
.new-dialog__content__article {
  display: none;
}

/* control content visibility  */
ui-dialog[data-active-screen='media-url'] .media-url-screen-content,
ui-dialog[data-active-screen='media-url'] .media-url-screen-header {
  display: flex;
}

ui-dialog[data-active-screen='media-info'] .media-info-screen-content,
ui-dialog[data-active-screen='media-info'] .media-info-screen-header {
  display: flex;
}

ui-dialog[data-active-screen='media-loading'] .media-loading-screen-content,
ui-dialog[data-active-screen='media-loading'] .media-loading-screen-header {
  display: flex;
}

/* media url screen  */
.media-url-screen-content {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.media-url-screen-content label {
  align-self: start;
}

.media-url-screen-content ui-input {
  width: 100%;
}

/* media loading screen  */
.media-loading-screen-content {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* loader */
.loader__text {
  font-size: 0.875rem;
  color: var(--muted-foreground, #6b7280);
}
