@import url('../../assets/shadow-common.css');

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

page-layout::part(content) {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  flex: 1;
}

.history__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  flex: 1;
}

.history__content-top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.history__content-top-filters {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

:host([data-empty]) area-section::part(base) {
  flex: 1;
}

:host([data-empty]) area-section::part(content) {
  flex: 1;
}

:host([data-empty]) area-section::part(content) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
}

:host([data-empty]) area-section::part(label) {
  display: none;
}

.history__content-stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: var(--spacing-small);
}

.history__content-stats area-article::part(base) {
  border-radius: var(--radius-md);
}
