@import url('../../assets/shadow-common.css');

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

page-layout::part(content) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.content__box img {
  width: 10rem;
}
