@import url('../../assets/reset.css');
@import url('../../assets/shared-content-style.css');

:host {
  display: contents;
}

:host::part(base) {
  width: 100%;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.content-box img {
  width: 10rem;
}
