<template>
  <page-layout>
    <span slot="header" data-i18n="Home"></span>
    <div slot="content">
      <article class="content__box">
        <img alt="logo" data-el="logo-image" />
        <h2 data-i18n="Download Media"></h2>
        <p data-i18n="Add video, audio, or playlist url to start downloading"></p>
        <ui-button
          size="lg"
          data-el="add-download-btn"
          style="--ui-button-radius: var(--radius-pill)"
        >
          <span data-i18n="Add Download"></span>
        </ui-button>
      </article>
    </div>
  </page-layout>
</template>
