:host {
  display: inline-block;
}

/* Block */

:host([block]) {
  display: block;
  width: 100%;
}

/* Inner Button  */

button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: var(--ui-button-direction, row);
  align-items: center;
  justify-content: center;
  gap: var(--ui-button-gap, 0.5rem);
  border-radius: var(--ui-button-radius, var(--radius));
  font-size: var(--ui-button-font-size, 0.875em);
  line-height: 1;
  font-weight: 500;
  padding-inline: var(--ui-button-inline-padding, 0.75rem);
  padding-block: var(--ui-button-block-padding, 0.5rem);
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  transition:
    background-color 150ms ease,
    color 150ms ease,
    border-color 150ms ease,
    box-shadow 150ms ease,
    transform 50ms ease;
  flex-shrink: 0;
  border: 1px solid transparent;
  cursor: pointer;
}

:host([block]) button {
  width: 100%;
}

button:focus-visible {
  box-shadow: var(--focus-ring);
}

:host([disabled]) button,
:host([loading]) button {
  cursor: default;
  opacity: 0.7;
}

/* Named Slots */
.prefix,
.suffix {
  display: none;
}

.prefix[data-has-prefix],
.suffix[data-has-suffix] {
  align-items: center;
  display: inline-flex;
}

.label {
  display: none;
}

.label[data-has-label] {
  display: inline-flex;
  align-items: center;
}

.spinner {
  display: none;
}

.spinner[data-has-spinner] {
  display: inline-flex;
  align-items: center;
}

/* Loading */

:host(:not([loading])) .spinner {
  display: none;
}

:host([loading]) .label {
  opacity: 0.7;
}

/* Variants */
:host([variant='default']) button {
  background: var(--primary);
  color: var(--primary-foreground);
  border-color: transparent;
}

:host(:not([toggle])[variant='default']) button:hover:not(:disabled) {
  background: oklch(from var(--primary) calc(l / 1.2) c h);
}

:host([pressed][variant='default']) button {
  background: oklch(from var(--primary) calc(l / 1.2) c h);
}

:host([variant='secondary']) button {
  background: var(--secondary);
  color: var(--secondary-foreground);
  border-color: var(--input);
}

:host(:not([toggle])[variant='secondary']) button:hover:not(:disabled) {
  background: oklch(from var(--secondary) calc(l / 1.2) c h);
}

:host([pressed][variant='secondary']) button {
  background: oklch(from var(--secondary) calc(l / 1.2) c h);
}

:host([variant='destructive']) button {
  background: var(--destructive);
  color: var(--destructive-foreground);
  border-color: transparent;
}

:host(:not([toggle])[variant='destructive']) button:hover:not(:disabled) {
  background: oklch(from var(--destructive) calc(l / 1.2) c h);
}

:host([pressed][variant='destructive']) button {
  background: oklch(from var(--destructive) calc(l / 1.2) c h);
}

:host([variant='outline']) button {
  background: transparent;
  color: var(--foreground);
  border-color: var(--input);
}

:host(:not([toggle])[variant='outline']) button:hover:not(:disabled) {
  background: oklch(from var(--accent) calc(l / 1.2) c h);
  color: var(--accent-foreground);
}

:host([pressed][variant='outline']) button {
  border-color: var(--primary);
  color: var(--accent-foreground);
}

:host([variant='ghost']) button {
  background: transparent;
  border-color: transparent;
  color: var(--foreground);
}

:host(:not([toggle])[variant='ghost']) button:hover:not(:disabled) {
  background: oklch(from var(--accent) calc(l / 1.2) c h);
  color: var(--accent-foreground);
}

:host([pressed][variant='ghost']) button {
  background: oklch(from var(--accent) calc(l / 1.2) c h);
  color: var(--accent-foreground);
}

:host([variant='link']) button {
  background: transparent;
  color: var(--primary);
  border: 0;
  outline: 0;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

/* Sizes */

:host(:not([size]), [size='default']) button {
  height: var(--ui-button-height, 2.25rem);
  font-size: var(--ui-button-font-size, 0.875rem);
  padding-inline: var(--ui-button-inline-padding, 0.75rem);
}

:host([size='sm']) button {
  height: var(--ui-button-height, 1.875rem);
  border-radius: var(--ui-button-radius, calc(var(--radius) - 4px));
  padding-inline: var(--ui-button-inline-padding, 0.5rem);
  font-size: var(--ui-button-font-size, 0.75rem);
}

:host([size='lg']) button {
  height: var(--ui-button-height, 2.625rem);
  border-radius: var(--ui-button-radius, calc(var(--radius) - 2px));
  padding-inline: var(--ui-button-inline-padding, 1rem);
}

:host([size='icon']) button {
  height: var(--ui-button-icon-box, 2.25rem);
  width: var(--ui-button-icon-box, 2.25rem);
  padding: 0;
  border-radius: var(--ui-button-radius, 100%);
}

/* Disabled */

/* When disabled, prevent mouse events from bubbling up from children */
:host([disabled]) * {
  pointer-events: none;
}
