:host {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: var(--ui-button-flex-direction, row);
  align-items: center;
  justify-content: center;
  gap: var(--ui-button-gap, var(--spacing-x-small));
  border-radius: var(--ui-button-radius, var(--radius-md));
  font-size: var(--ui-button-font-size, var(--font-size-small));
  line-height: var(--ui-button-line-height, var(--line-height-denser));
  font-weight: var(--ui-button-font-weight, var(--font-weight-semibold));
  padding-inline: var(--ui-button-inline-padding, var(--spacing-small));
  padding-block: var(--ui-button-block-padding, var(--spacing-x-small));
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  transition:
    background-color 150ms ease,
    color 150ms ease,
    border-color 150ms ease,
    box-shadow 150ms ease,
    transform 50ms ease;
  flex-shrink: 0;
  border: 1px solid transparent;
  cursor: pointer;
}
:host([block]) {
  width: 100%;
}
:host([aria-disabled='true']),
:host([loading]) {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}
:host([variant='default']) {
  background: var(--primary);
  color: var(--primary-foreground);
}

:host([variant='default']:not([toggle]):not([aria-disabled='true']):hover) {
  background: oklch(from var(--primary) calc(l / 1.2) c h);
}

:host([pressed][variant='default']),
:host([aria-selected='true'][variant='default']) {
  background: oklch(from var(--primary) calc(l / 1.2) c h);
}

:host([variant='secondary']) {
  background: var(--secondary);
  color: var(--secondary-foreground);
  border-color: var(--input);
}

:host([variant='secondary']:not([toggle]):not([aria-disabled='true']):hover) {
  background: oklch(from var(--secondary) calc(l / 1.2) c h);
}

:host([pressed][variant='secondary']),
:host([aria-selected='true'][variant='secondary']) {
  background: oklch(from var(--secondary) calc(l / 1.2) c h);
}

:host([variant='destructive']) {
  background: var(--destructive);
  color: var(--destructive-foreground);
  border-color: transparent;
}

:host([variant='destructive']:not([toggle]):not([aria-disabled='true']):hover) {
  background: oklch(from var(--destructive) calc(l / 1.2) c h);
}

:host([pressed][variant='destructive']),
:host([aria-selected='true'][variant='destructive']) {
  background: oklch(from var(--destructive) calc(l / 1.2) c h);
}

:host([variant='outline']) {
  background: transparent;
  color: var(--foreground);
  border-color: var(--input);
}

:host([variant='outline']:not([toggle]):not([aria-disabled='true']):hover) {
  background: oklch(from var(--accent) calc(l / 1.2) c h);
  color: var(--accent-foreground);
}

:host([pressed][variant='outline']),
:host([aria-selected='true'][variant='outline']) {
  border-color: var(--primary);
  color: var(--accent-foreground);
}

:host([variant='ghost']) {
  background: transparent;
  border-color: transparent;
  color: var(--foreground);
}

:host([variant='ghost']:not([toggle]):not([aria-disabled='true']):hover) {
  background: oklch(from var(--accent) calc(l / 1.2) c h);
  color: var(--accent-foreground);
}

:host([pressed][variant='ghost']),
:host([aria-selected='true'][variant='ghost']) {
  background: oklch(from var(--accent) calc(l / 1.2) c h);
  color: var(--accent-foreground);
}

:host([variant='link']) {
  background: transparent;
  color: var(--primary);
  border: 0;
  outline: 0;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

:host(:not([size]), [size='default']) {
  height: var(--ui-button-height, 2.25rem);
  font-size: var(--ui-button-font-size, var(--font-size-small));
  padding-inline: var(--ui-button-inline-padding, var(--spacing-small));
}

:host([size='sm']) {
  height: var(--ui-button-height, 1.875rem);
  border-radius: var(--ui-button-radius, var(--radius-sm));
  padding-inline: var(--ui-button-inline-padding, var(--spacing-x-small));
  font-size: var(--ui-button-font-size, var(--font-size-x-small));
}

:host([size='lg']) {
  height: var(--ui-button-height, 2.625rem);
  border-radius: var(--ui-button-radius, var(--radius-lg));
  padding-inline: var(--ui-button-inline-padding, var(--spacing-medium));
}

:host([size='icon']) {
  height: var(--ui-button-icon-box, 2.25rem);
  width: var(--ui-button-icon-box, 2.25rem);
  padding: 0;
  border-radius: var(--ui-button-radius, var(--radius-circle));
}

:host([aria-disabled='true']) * {
  pointer-events: none;
}
:host(:focus-visible),
:host([as-child]:focus-within) {
  outline: none;
  box-shadow: var(--focus-ring);
  border-radius: var(--ui-button-radius, var(--radius-md));
}
:host([aria-invalid='true']) {
  border-color: var(--destructive);
}
:host([aria-invalid='true']:focus-visible) {
  box-shadow: var(--destructive-focus-ring) !important;
}

/* as-child target  */
:host([as-child]) ::slotted(a) {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

:host([as-child]) ::slotted(a:focus-visible) {
  outline: none;
}
