@import url('../../../../assets/shadow-common.css');

:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.ytdlp-config-path-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 640px) {
  .ytdlp-config-path-container {
    flex: 1;
    justify-content: space-between;
  }
}

area-section::part(base) {
  gap: 1rem;
}
