@import url('../../assets/shadow-common.css');

:host {
  flex: 1;
  display: block;
  width: 100%;
  height: 100%;
}

:host([data-hide]) {
  display: none;
}

.empty {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
}

.empty__message {
  color: var(--foreground);
}

.empty__icon {
  --ui-icon-size: 5rem;
}

.empty__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
}
