<template>
  <div part="base" class="base" data-el="base">
    <div part="overlay" class="overlay" data-el="overlay"></div>
    <div part="panel" class="panel" data-el="panel">
      <header part="header" class="header" data-el="header">
        <slot name="header"></slot>
        <ui-button
          variant="secondary"
          class="x-btn"
          size="icon"
          style="--ui-button-icon-box: 27px; --ui-button-icon-size: 12px"
          part="close"
          data-el="x-btn"
        >
          <ui-icon slot="prefix" name="x"></ui-icon>
        </ui-button>
      </header>
      <div class="content" data-el="content">
        <slot name="content"></slot>
      </div>
      <div class="footer" data-el="footer">
        <slot name="cancel"></slot>
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
  <slot name="trigger"></slot>
</template>
