@import url('../../assets/reset.css');
@import url('../../assets/shared-content-style.css');

ui-icon {
  --ui-icon-size: 1em;
}

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
