<template>
  <div part="base" class="root">
    <header part="head" class="header-wrapper">
      <h1 class="page-title" data-i18n="test"></h1>
    </header>
    <div part="content" class="content-wrapper">
      <ui-icon name="settings"></ui-icon>
      <ui-button variant="outline">
        <ui-icon slot="prefix" name="hour-glass"></ui-icon>
        <ui-icon slot="suffix" name="hour-glass"></ui-icon>
        Sync
        <ui-icon slot="spinner" name="hour-glass" spin></ui-icon>
      </ui-button>
    </div>
  </div>
</template>
