@import url('../../assets/shadow-common.css');

:host {
  display: contents;
}

.sidebar {
  width: var(--sidebar-width);
  background: var(--sidebar);
  color: var(--sidebar-foreground);
  border-right: 1px solid var(--border);
  height: 100vh;
  position: fixed;
  inset-block: 0;
  inset-inline-start: 0;
  box-sizing: border-box;
  padding: var(--spacing-small);
  padding-top: calc(var(--toolbar-height) + 1rem);
  display: none;
}

/* Visible on medium+ screens */
@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}
